<!-- title.component.html -->
<div class="title-container">
    <!-- Contenedor de la animación continua -->
    <div class="title-wrapper">
      <!-- Título con animación de izquierda a derecha (duplicado para el efecto continuo) -->
      <h1 class="title"> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY </h1>
      <h1 class="title"><img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY <img class="title-icon" src="icons/icon.svg" alt=""> DEV SINERGY </h1>
    </div>
  
    <!-- Eslogan debajo del título -->
    <p class="slogan">We innovate to connect ideas and brands into digital experiences that inspire and transform.</p>
  </div>
  
  