/* Contenedor principal */
.section-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #1a1a1a; /* Fondo oscuro */
  border-radius: 1rem; /* Bordes redondeados */
  max-width: 800px;
  margin: 0.5rem;
  margin-top: -10rem;
}

/* Sección individual */
.section {
  padding: 0.2rem;
}

/* Título de la sección */
.section-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  font-family: "Hanca", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.section-title-icon {
  width: 2rem;
  height: 2rem;
  align-items: center;
  margin-right: 1rem;
}

/* Contenido de la sección */
.section-content {
  display: flex;
  flex-direction: column;
  gap: -800px;
}

/* Apartado de cada sección */
.section-item {
  font-size: 7rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Heathergreen", sans-serif;
  margin: 0;
}
