<div class="section-container">
    <!-- Sección de Estrategia -->
    <div class="section strategy">
      <h2 class="section-title"> <img class="section-title-icon" src="icons/icon.svg" alt=""> Strategy</h2>
      <div class="section-content">
        <p class="section-item">Direction</p>
        <p class="section-item">Vision</p>
        <p class="section-item">Focus</p>
        <p class="section-item">Purpose</p>
      </div>
    </div>
  
    <!-- Sección de Websites -->
    <div class="section websites">
      <h2 class="section-title"> <img class="section-title-icon" src="icons/icon.svg" alt="">Websites</h2>
      <div class="section-content">
        <p class="section-item">Storytelling</p>
        <p class="section-item">Design</p>
        <p class="section-item">Safety</p>
        <p class="section-item">Frameworks</p>
      </div>
    </div>
  </div>
  
