/* You can add global styles to this file, and also import other style files */
body {
  background-color: #2f2f2f;
}

@font-face {
  font-family: "Heathergreen";
  src: url("/assets/fonts/Headergreen.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hanca";
  src: url("/assets/fonts/Hanca.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
